# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
env/
.venv/
.heartfailure/  # Add your virtual environment directory if different

# Jupyter & IPython
*.ipynb
.ipynb_checkpoints/

# OS/system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# Git and version control
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Others
*.csv
*.xlsx
*.json
*.db
tests/
notebooks/